.bg-djangogirls {
  background-color: #ff9400;
}

.bg-light-djangogirls {
  background-color: #ffdba8;
}

h1, h2, h3, h4 {
  font-family: 'Lobster', cursive;
}

.date {
  color: #40E0D0;/* #828282 から変更 */
}

.post-form textarea, .post-form input {
  width: 100%;
}

.post {
  margin-bottom: 70px;
}

.post h2 {
  color: #000000;
}

@media (min-width: 992px) {
  .list-grid-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
